h1.title{	
	font-family: 'Poiret One', cursive;
	font-size:60px;
	font-weight:normal;
	color:#444;
	
}

h1,h2{
	
	text-align:center;
}


body{
	font-family:  'Gochi Hand', sans-serif;
	background:#ffffff;
	
}
.container{
	margin-top: 20px;
}
/* BEGIN SOCIAL */
ul.social{
	text-align: center;
	list-style:none;
	padding: 0px;
}
.social li {
	overflow: auto;
	float:left;
}
.social li a{
	font-size: 30px;
	color:#aaa;
	
    transition: all .25s ease-in;
		
}


.social li a:hover{
	color:#222;
}
.social li.linkedin a:hover{
	color:#4875B4; 
}
.social li.twitter a:hover{
	color:#33CCFF; 
}
.social li.facebook a:hover{
	color:#3B5998; 
}
.social li.youtube a:hover{
	color:#FF3333; 
}
.social li.skype a:hover{
	color:#12A5F4; 
}


.rounded-me{
	width: 100%;
	height: auto;
	border-radius: 200px;
}
.rounded-me:hover{
	-webkit-animation: spin 2s infinite linear;
	-moz-animation: spin 2s infinite linear;
	-o-animation: spin 2s infinite linear;
	animation: spin 2s infinite linear;
}
